@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css';
@import 'https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css';

.doc-container {
  height: 80vh;
  width: 100%;
  overflow-y: hidden;
}

.doc-container iframe {
  width: 100%;
}

.non-targetable {
  pointer-events: none;
}
